DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,your-domain.com
DJANGO_DB_ENGINE=mysql

MYSQL_DATABASE=nhctodo
MYSQL_USER=nhctodo
MYSQL_PASSWORD=change-this-password
MYSQL_ROOT_PASSWORD=change-root-password
MYSQL_HOST=db
MYSQL_PORT=3306

DJANGO_DB_CONN_MAX_AGE=60
PORT=8000
GUNICORN_WORKERS=3
GUNICORN_TIMEOUT=120
DB_WAIT_RETRIES=30
DB_WAIT_DELAY=2

AD_SERVER_URI=ldap://nhctz.com
AD_PORT=389
AD_BASE_DN=DC=nhctz,DC=com
AD_BIND_USER=nhcisbind@nhctz.com
AD_BIND_PASSWORD=change-ad-bind-password
AD_USERNAME_ATTR=sAMAccountName
AD_TIMEOUT=10
AD_AUTO_CREATE_USERS=True
AD_DEFAULT_ROLE=staff
AD_DEFAULT_SECTION=ict
AD_EMAIL_DOMAIN=nhc.co.tz

NOTIFICATION_EMAILS_ENABLED=True
NOTIFICATION_EMAIL_ALLOWED_DOMAIN=nhc.co.tz
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
DJANGO_SITE_BASE_URL=http://10.11.5.59:8000
