DJANGO_SECRET_KEY=dev-only-change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,testserver

DJANGO_DB_ENGINE=sqlite
SQLITE_PATH=db.sqlite3

SESSION_COOKIE_AGE=1800
SESSION_IDLE_TIMEOUT_SECONDS=1800

DJANGO_ADMIN_URL_PREFIX=welcome-admin
DJANGO_ACCOUNTS_URL_PREFIX=ict-todolist
DJANGO_TASKS_URL_PREFIX=ict-todolist

AD_SERVER_URI=ldap://nhctz.com
AD_PORT=389
AD_BASE_DN=DC=nhctz,DC=com
AD_BIND_USER=
AD_BIND_PASSWORD=
AD_USERNAME_ATTR=sAMAccountName
AD_TIMEOUT=10
AD_AUTO_CREATE_USERS=False
AD_DEFAULT_ROLE=staff
AD_DEFAULT_SECTION=ict
AD_DEFAULT_STAFF_TYPE=icto
AD_EMAIL_DOMAIN=nhctz.com
